:root{
    --color-primary: #31473A;
    --color-secondary: #EDF4F2;
    --color-Tertiary: #7C8363;
    --color-white: #000;
    --color-black: #FFFFFF;
    --color-gey-0: #12181b;
    --color-gey-1: #2a2e35;
    --color-gey-2: #454e56;
    --color-gey-3: #6c7983;
    --color-gey-4: #b2becd;
    --color-gey-5: #dbe1e8;
    --color-gey-6: #f8f8f8;
    --br-sm-2: 14px; 
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3)
}

.dark-mode{
    --color-primary: #CBD18F;
    --color-secondary: #3A6B35;
    --color-Tertiary: #E3B448;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-gey-0: #f8f8f8;
    --color-gey-1: #dbe1e8;
    --color-gey-2: #b2becd;
    --color-gey-3: #6c7983;
    --color-gey-4: #454e56;
    --color-gey-5: #2a2e35;
    --color-gey-6: #12181b;
}

@media screen and (max-width: 1560px){

    section{
        padding: 3rem 14rem;
    }

}

@media screen and (max-width: 1432px){

    header{
        padding: 0 !important;
    }

    .header-content .right-header {
        padding-right: 10rem;
    }

    .section{
        padding: 2rem 11rem;
    }

    /*------------- CONTACT ------------- */

    .contact-content-con{
        flex-direction: column;
        padding-top: 0rem;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }

        .left-contact{
            margin-top: 3rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1300px){

    .section{
        padding: 3rem 8rem;
    }

}

@media screen and (max-width: 1125px){

    .portfolios{
        padding-bottom: 6rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
        .submit-btn{
            justify-content: center;
            align-items: center;
        }
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: var(--color-gey-5);
        .control{
            margin: .8rem 2.5rem;
        }
    }
}

@media screen and (max-width: 1070px){

    /*------------- HEADER ---------------*/
    header{
        padding: 0 !important;
    }

    header .right-header{
        padding: 0 !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto !important;
        width: 90%;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.5rem;
        }
        .left-about{
            place-items: center;
            padding-right: 0;
        }
    }

    .timeline{
        padding-bottom: 5rem;
    }

    .portfolios{
        grid-template-columns: 1fr 1fr;
    }

    .blogs{
        grid-template-columns: 1fr 1fr;
    }

    .contact-content-con .left-contact {
        margin: 2rem 10rem;
    }

    .contact-content-con .right-contact {
        margin-left:  10rem;
        margin-right: 10rem;
    }

    .main-title{
        h2{
            font-size: 5rem;
        }
    }

    .btn-con {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-bottom: 0rem;
    }

    .section{
        padding: 2rem 2.5rem;
    }

    .header-content .right-header {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 970px){

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: var(--color-gey-5);
        margin-top: 6rem;
        .control{
            margin: .8rem 2rem;
        }
    }

    .contact-content-con .left-contact {
        margin: 2rem 4rem;
    }

    .contact-content-con .right-contact {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width: 970px) and (max-height: 1670px) {

    .header-content .right-header {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px){
    section{
        padding: 7rem 3rem;
    }

    .about-container{
        padding-top: 2.5rem;    
    }

    .about-stats .progress-bars{
        grid-template-columns: 1fr;
    }

    .about-container .left-about h4{
        font-size: 2rem;
    }

    .contact-content-con .left-contact .contact-icon {
        margin-bottom: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 2rem;
    }

    .main-title{
        h2{
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 600px){

    /*-------------- ABOUT ---------------*/

    .about-container .left-about h4{
        font-size: 1.7rem;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
            padding: 2.5rem 2rem;
        }
        .left-about{
            align-items: center;
            justify-content: center;
            padding-right: 0;
            // p{
            //     padding-left: 0;
            // }
        }
    }

    .about-container .right-about .about-item .abt-text{
        place-items: center;
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 5rem;
    }

    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
            place-content: center;
        }
    }


    /*------------ PORTFOLIO ------------- */
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    /*-------------- BLOGS --------------- */
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    /*------------- CONTACT ------------- */
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0rem;
            margin-right: 0rem;
            margin-top: 2.5rem;
        }

        .left-contact{
            margin: 2rem 0rem;
        }
    }

    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }
    /* --------------------------------- */

    .section{
        padding: 2rem 2.5rem;
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        background-color: var(--color-gey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    .main-title{
        h2{
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 500px){

    .contact-content-con .left-contact{
        padding: 0.3rem;
        .contact-info .contact-item {
            margin-left: 0rem;
            .icon{
                display: grid;
                grid-template-columns: 20px 1fr;
                i{
                    display: flex;
                    align-items: center;
                    font-size: 0.9rem;
                    color: var(--color-white);
                }
            }
        }
    }

    .contact-content-con .left-contact .contact-icon{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
    }
}